
{# Civilité #}
{% macro civilite(label, name, value,  items) %}
    <label>{{label}}</label>
    <div class="ui selection dropdown">
        <input type="hidden" name="{{name}}" value="{{value}}">
        <i class="dropdown icon"></i>
        <div class="{{not (value) ? 'default' }} text">{{not (value) ? label : value}}</div>
        <div class="menu">
            {% for item in items %}
                <div class="item" data-value="{{item}}">{{item}}</div>
            {% endfor %}
        </div>
    </div>
{% endmacro %}

{# Personne Nom prénom #}
{% macro personne(label, name, placeholder, value) %}
    <label>{{label}}</label>
    <input type="text" name="{{name}}" placeholder="{{placeholder}}">
{% endmacro %}

{# Bloc texte #}
{% macro textearea(label, name, placeholder, value) %}
    <label>{{label}}</label>
    <div class="ui left corner labeled input">
        <div class="ui left corner label">
            <i class="asterisk icon"></i>
        </div>
        <textarea name="{{name}}">{{(value) ? value : placeholder}}</textarea>
    </div>
{% endmacro %}

{# Sélection Pays #}
{% macro pays(label, name, placeholder) %}
    <label>{{label}}</label>
    <div class="ui fluid search selection dropdown">
    <input type="hidden" name="country">
    <i class="dropdown icon"></i>
    <div class="default text">{{placeholder}}</div>
        <div class="menu">
            <div class="item" data-value="mc"><i class="mc flag"></i>Monaco</div>
            <div class="item" data-value="mn"><i class="mn flag"></i>Mongolia</div>
            <div class="item" data-value="me"><i class="me flag"></i>Montenegro</div>
            <div class="item" data-value="ms"><i class="ms flag"></i>Montserrat</div>
        </div>
    </div>
{% endmacro %}
