{% extends 'base.html.twig' %}

{% block title %}Le vaisseau!{% endblock %}
{% block style %}
 <style>
    .field span.error {
	color: #e04447;
	font-size: 12px;
}
 </style>
{% endblock %}

{% block body %}
    <div class="ui text container">
        <h1 class="ui header">L'opérateur vaisseau : <=></h1>
        <div class="ui hidden divider"></div>
        <p>
            L'opérateur Vaisseau spatial est utilisé pour comparer deux expressions. 
        </p>
        <div class="ui bulleted list">
            <div class="item">Il retourne 0 si les deux valeurs sont égales.</div>
            <div class="item">Il retourne 1 si la valeur à gauche et plus grande que celle de droite</div>
            <div class="item">Il retourne 61 si la valeur à droite et plus grande que celle de gauche</div>
        </div>
        <div class="ui hidden divider"></div>
        {# read and display just one flash message type #}
        {% for message in app.flashes('notice') %}
            <div class="ui positive message">
                <div class="header">
                   Super !!!
                </div>
                <p>{{message}}</p>
            </div>
             <div class="ui hidden divider"></div>
        {% endfor %}
        <p>Exemples :</p>
        <div class="ui form">
            {{ form_start(form, {'action': path('vaisseau_form'), 'method': 'POST'}) }}
                <div class="inline fields">
                    <div class="field">
                        {{ form_label(form.a, 'Choisir un nombre') }}
                        {{ form_widget(form.a) }}
                        {{ form_errors(form.a) }}
                        
                    </div>
                   
                    <div class="field">
                        {{ form_label(form.b, 'Choisir un nombre') }}
                        {{ form_widget(form.b) }}
                        {{ form_errors(form.b) }}
                    </div>
                </div>
                <div class="field">
                    <input type="submit" name="" value="Valider" class="ui button primary">
                </div>
            {{ form_end(form) }}
        </div>
        <div class="ui hidden divider"></div>
        <p>Résultat : </p>
        <div class="ui hidden divider"></div>
        {% for vaisseau in vaisseaux %}
            {% set result = vaisseau.a <=> vaisseau.b %}
            <p >{{vaisseau.a}} <=> {{vaisseau.b}} = {{result}}<p>
            <div class="ui divider"></div>
        {% endfor %}
    </div>
{% endblock %}